{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
				<div class="col-md-4">
				</div>
                <div class="col-md-4">
                {{ form (vueFormulaireEntreprise) }}
				</div>
				<div class="col-md-4">
				</div>
			</div>

{% endblock %}
