{% extends 'base.html.twig' %}

{% block body %}
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Libelle</th>
      <th scope="col">Nom Long</th>
    </tr>
  </thead>
  <tbody>
    {% for formation in formations %}
    <tr>
      <td><a href="{{path('prostages_stagesParF', {id:formation.id})}}"> {{formation.libelle}} </a></td>
      <td>{{formation.nomLong}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
